.createnft {
  width: 380px;
  height: 368px;
  background: #272d37;
  border-radius: 2rem;
  margin: 0rem ;
  &:hover{
    border: 1px solid white;
    transition: 1s ease-in-out;
    background: none;
    cursor: pointer;
    
  }
  img {
    margin-top: 4rem;
  }
  p {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: white;
    margin-top: 4rem;
  }
  .text__details {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #adb9c7;
  }
}
