.artistcard {
  width: 290px;
  height: 391px;
  background-color: #272d37;
  margin: auto;
  border-radius: 1.5rem;
  &:hover{
    box-shadow: 0 15px 35px rgba(216, 205, 205, 0.5);
    transform: scale(1.1);
    transition: 1s ease;
    cursor: pointer;
  }
  img{
    margin-top: 1rem;
  }
  .owner{
    margin-top: -4rem;
    margin-bottom: 1rem;
    transform: scaleX(1.1);
    transform: scaleY(.9);
  }
  p{
    font-size: 1.4rem;
    font-weight: 700;
    color: white; 
  }
  div{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    .icon{
       margin-top: -.1rem;
        margin-left: .5rem;
    }
  }
}
