.card {
  width: 400px;
  height: 536px;
  background: #272d37;
  border-radius: 24px;
  margin-top: 7rem;
  margin-left: -7rem;
  transform: scaleX(0.9);
  .card__img {
    background: none;
    align-items: center;
    justify-content: center;
    .place__bid {
      box-shadow: 8px 8px 18px rgba(30, 80, 255, 0.25);
      border-radius: 16px;
      background: #1e50ff;
      position: absolute;
      top: 15rem;
      left: 10rem;
      height: 5rem;
      width: 12rem;
      border: none;
      color: white;
      font-weight: 600;
      font-size: 1.2rem;
      z-index: 6;
      cursor: pointer;
      display: none;
    }

    &:hover .img__nft{
      filter: blur(1rem);
      cursor: pointer;
      z-index: -2;
    }

    &:hover .place__bid{
      cursor: pointer;
      display: block;
      z-index: 3; 
    }

    &:hover .timer {
     z-index: -5;
    }

    .img__nft {
      margin-top: 2rem;
      border-radius: 23px;
      z-index: -9;
     
      
    }
    .timer {
      z-index: 999;
      margin-top: 1rem;
      display: flex;
      width: 162px;
      height: 42px;
      color: white;
      background-color: #0f182e;
      align-items: center;
      align-content: center;
      justify-content: center;
      border-radius: 10px;
      position: relative;
      top: -7rem;
      left: 9rem;
      z-index: 3;
      .img__icon {
        height: 2rem;
        width: 2rem;
        background: none;
      }
      p {
        background: none;
        font-weight: 600;
        margin-top: 0.7rem;
        margin-left: 0.7rem;
        margin-bottom: 0.6rem;
        font-size: 1.3rem;
      }
    }
    .card__content {
      background: none;
      color: white;
      .card__title {
        display: flex;
        font-size: 1.4rem;
        margin-top: -3rem;
        margin-left: 2.9rem;
        justify-content: space-between;
        p {
          font-size: 1.6rem;
          font-weight: 600;
        }
        button {
          width: 5rem;
          height: 2.5rem;
          background: #1e50ff;
          color: white;
          font-size: 1rem;
          border: none;
          position: relative;
          left: -3rem;
          border-radius: 3px;
        }
      }
      .author {
        img {
          margin-top: 1.3rem;
          margin-left: -22rem;
        }
        .author__text {
          margin-top: -4rem;
          margin-left: 9rem;
          .text__headers {
            display: flex;
            justify-content: space-around;
            gap: 7rem;
            P {
              position: relative;
              top: -1rem;
              left: -1.4rem;
              text-align: left;
              color: #8f9ca9;
            }
          }
          .text__details {
            display: flex;
            justify-content: space-around;
            P {
              position: relative;
              top: -0.2rem;
              left: -1.5rem;
              text-align: left;
              font-size: 1.4rem;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
