.App, body {
  text-align: center;
  background-color: #02050e;
  
}

::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-width: 1936px)  {
  .App, body{
    max-width: 1482px;
    margin: auto;
  }
}


